version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Notify Slack - Deployment Started
          command: |
            BRANCH=$(git rev-parse --abbrev-ref HEAD)
            COMMIT=$(git rev-parse --short HEAD)
            curl -X POST -H 'Content-type: application/json' --data "{
              \"attachments\": [
                {
                  \"title\": \"Website Deployment Started\",
                  \"text\": \"Branch: $BRANCH\nCommit: $COMMIT\",
                  \"color\": \"#FFA500\"
                }
              ]
            }" https://hooks.slack.com/services/REPLACE/WITH/ACTUAL_WEBHOOK
      - add_ssh_keys:
          fingerprints:
            - "SHA256:X3RD1erbC+w6Iqz/fZoHZUrweUqOIny4BgOT1KAruPM"
      - run:
          name: SSH to EC2 and deploy
          command: ssh -o StrictHostKeyChecking=no root@3.111.35.110 "bash /root/toolplate-backend/deploy.sh > /root/toolplate-backend/deploy_output.txt"
      - run:
          name: Download deploy_output.txt
          command: scp -o StrictHostKeyChecking=no root@3.111.35.110:/root/toolplate-backend/deploy_output.txt .
      - run:
          name: Notify Slack - Deployment Succeeded
          when: on_success
          command: |
            DEPLOY_OUTPUT=$(cat deploy_output.txt | head -n 20)
            DEPLOY_OUTPUT_FILE=$(cat deploy_output.txt | wc -l)
            curl -X POST -H 'Content-type: application/json' --data "{
              \"attachments\": [
                {
                  \"title\": \"Website Deployment Succeeded\",
                  \"text\": \"Output:\n$DEPLOY_OUTPUT\n...\nTotal lines: $DEPLOY_OUTPUT_FILE\",
                  \"color\": \"#7CD197\",
                  \"mrkdwn_in\": [\"text\"]
                }
              ]
            }" https://hooks.slack.com/services/REPLACE/WITH/ACTUAL_WEBHOOK
      - run:
          name: Notify Slack - Deployment Failed
          when: on_fail
          command: |
            DEPLOY_OUTPUT=$(cat deploy_output.txt | head -n 20)
            DEPLOY_OUTPUT_FILE=$(cat deploy_output.txt | wc -l)
            curl -X POST -H 'Content-type: application/json' --data "{
              \"attachments\": [
                {
                  \"title\": \"Website Deployment Failed\",
                  \"text\": \"Output:\n$DEPLOY_OUTPUT\n...\nTotal lines: $DEPLOY_OUTPUT_FILE\",
                  \"color\": \"#FF0000\",
                  \"mrkdwn_in\": [\"text\"]
                }
              ]
            }" https://hooks.slack.com/services/REPLACE/WITH/ACTUAL_WEBHOOK

workflows:
  version: 2
  example:
    jobs:
      - deploy
