version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Notify Slack - Deployment Started
          command: |
            curl -X POST -H 'Content-type: application/json' --data '{"text":"Deployment process started."}' https://hooks.slack.com/services/REPLACE/WITH/ACTUAL_WEBHOOK
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "SHA256:X3RD1erbC+w6Iqz/fZoHZUrweUqOIny4BgOT1KAruPM"
      - run:
          name: SSH to EC2 and deploy
          command: |
            ssh -o StrictHostKeyChecking=no root@3.111.35.110 "bash /root/toolplate-backend/deploy.sh"
      - run:
          name: Notify Slack - Deployment Succeeded
          when: on_success
          command: |
            curl -X POST -H 'Content-type: application/json' --data '{"text":"Deployment completed successfully."}' https://hooks.slack.com/services/REPLACE/WITH/ACTUAL_WEBHOOK
      - run:
          name: Notify Slack - Deployment Failed
          when: on_fail
          command: |
            curl -X POST -H 'Content-type: application/json' --data '{"text":"Deployment failed."}' https://hooks.slack.com/services/REPLACE/WITH/ACTUAL_WEBHOOK

workflows:
  version: 2
  example:
    jobs:
      - deploy
